.header {
    border: 1px solid maroon;
    margin: 0;
    padding: 0 5vw;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: ghostwhite;
    color: ghostwhite;
  }
  
  .header-logo-wrap {
    display: flex;
    background-color: ghostwhite;
  
  }
  
  .logo {
    margin: 0;
    padding: 0;
    color: maroon;
    font-kerning: normal;
    font-family: "Autor";
    font-weight: 100;
    font-style: initial;
    font-size: 300%;
    text-align: left;
    padding-left: 30px;
  }

  .search-wrap {
    display: flex;
    border: 1px solid black;
    width: 500px;
  }
  
  .search {
    flex-grow: 1;
    height: 40px;
    justify-content: flex-end;
    border: none;
    padding-left: .5rem;
  }
  